/* body {
    background-color: #373c4f;
}

.container {
    text-align: center;
    margin-top: 250px;
    color: #dddddd;
}

.reg-title p {
    font-size: 36px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.reg-content p {
    font-size: 22px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#my-signin2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
} */